html.animate body,
html.animate footer {
    transition: color, background-color .3s linear;
}

html.dark body {
    background-color: #2E3440;
    color: #ECEFF4;
}

html.dark .card {
    background: #434C5E;
}

html.dark .footer {
    background-color: #3B4252;
}

html.dark a,
 html.dark .b {
    color: #81A1C1;
}

html.dark hr {
    border: 1px solid #81A1C1;
}

html.dark .b.primary {
    color: #fff;
    background: #81A1C1;
    border: solid 1px #81A1C1;
}

html.dark input,
 html.dark select {
    color: #fff;
    background-color: #4C566A;
}

html.dark code {
    background: #4C566A;
}